body {
  margin: 0;
  overflow: auto;
  background-color: black;
}
.image-container {
  float: left;
  width: 60%;
  height: 100%;
}

.content-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 50px;
  margin-left: 65%;
  height: 103%;
  text-align: left;
  float: inline-start;
}
.login-container {
  width: 300px;
}
h1 {
  margin-top: 30px;
}
h4 {
  margin-bottom: 20px;
}

h1,
h4 {
  font-weight: bolder;
  color: white;
}

button {
  width: 300px;
  height: 42px;
  border-radius: 50px;
  margin-bottom: 10px;
}
button a {
  color: rgb(33, 33, 33);
  text-decoration: none;
  font-size: small;
  font-weight: bold;
}

p {
  margin-top: 0;
  font-size: small;
  color: rgb(144, 144, 144);
}

ul {
  display: flex;
}
.ul2 {
  justify-content: center;
}
li a {
  text-decoration: none;
  color: grey;
  font-size: 13px;
  margin-left: 8px;
  margin-right: 9px;
}
